/**
* Node's Name
*/
export const Name = "{{NODE_NAME}}";

/**
* Node's React Component
*/
export default function Content({}) {
    return <h1>{{ NODE_NAME }}</h1>;
}

/**
* Node's Ports
*/
export const ports = [];